# Environment variables
.env
.env.*

# Python
venv/
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
staticfiles/
media/

# Database dumps
*.sql
*.dump

# Logs
*.log
logs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
